<nav>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
    <h3><%= fa_icon("navicon", text: "Menu") %></h3>
  </button>
  <div class="collapse navbar-collapse" id="collapse">
    <ul class="nav nav-pills nav-center">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to fa_icon("youtube", text: "Youtube"), "https://www.youtube.com/user/marialytle", target: :_blank %></li>
      <li><%= link_to fa_icon("facebook", text: "Facebook"), "https://www.facebook.com/marialytlemusic", target: :_blank %></li>
      <li><%= link_to fa_icon("soundcloud", text: "SoundCloud"), "https://soundcloud.com/maria-lytle", target: :_blank %></li>
      <li><%= link_to fa_icon("music", text: "CD Baby"), "https://www.cdbaby.com/cd/marialytle", target: :_blank %></li>
      <li><%= link_to "Contact Maria", contact_path %></li>
    </ul>
  </div>
</nav>
