<!DOCTYPE html>
<html>
  <head>
    <title>Maria Lytle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Maria Lytle">
    <meta name="description" content="Singing, guitar and ukulele playing, loop pedals, and songwriting...the good stuff.">
    <meta property="og:title" content="Maria Lytle"/>
    <meta property="og:site_name" content="Maria Lytle"/>
    <meta property="og:url" content="http://www.marialytle.com"/>
    <meta property="og:description" content="Singing, guitar and ukulele playing, loop pedals, and songwriting...the good stuff."/>
    <meta property="og:image" content="<%= image_url "meta.jpg" %>"/>
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url "meta.jpg" %>">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
